.addZ {
  animation: addIdxZ 1s ease-in-out forwards;
}

@keyframes addIdxZ {
  0% {
    z-index:0;
  }

  100% {
    z-index: 100;

  }
}

.reduceZ {
  animation: reduceIdxZ 1s ease-in-out forwards;
}

@keyframes reduceIdxZ {
  0% {
    z-index: 100;
  }
  100% {
    z-index: 0;
  }
}